.font-s-bold {
  font-family: "Nunito", Cambria, Cochin, Georgia, Times, "Times New Roman",
    serif;
  font-weight: 700;
  font-size: 1rem;
}

.font-m-regular {
  font-family: "Nunito", Cambria, Cochin, Georgia, Times, "Times New Roman",
    serif;
  font-size: 1.25rem;
  line-height: 28px;
  font-weight: 400;
}

.font-m-regular-2 {
  font-family: "Nunito", Cambria, Cochin, Georgia, Times, "Times New Roman",
    serif;
  font-size: 1.25rem;
  line-height: 32px;
  font-weight: 400;
}

.font-m-bold {
  font-family: "Nunito", Cambria, Cochin, Georgia, Times, "Times New Roman",
    serif;
  font-size: 1.25rem;
  line-height: 28px;
  font-weight: 700;
}

.font-m-r-italico {
  font-family: "Nunito", Cambria, Cochin, Georgia, Times, "Times New Roman",
    serif;
  font-size: 1.25rem;
  line-height: 40px;
  font-weight: 400;
  font-style: italic;
}

.font-l-bold {
  font-family: "Nunito", Cambria, Cochin, Georgia, Times, "Times New Roman",
    serif;
  line-height: 32px;
  font-weight: 700;
  font-size: 2.25rem;
}

.font-exl-bold {
  font-family: "Nunito", Cambria, Cochin, Georgia, Times, "Times New Roman",
    serif;
  font-weight: 700;
  font-size: 3rem;
}
